<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="АФТ тесты для проекта TAGES">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg" />
        <listener class-name="org.listener.TestListener" />
    </listeners>

    <test name="Проверка элементов на главной странице">
        <classes>
            <class name="ui.CheckElementOnMainPageTest" />
        </classes>
    </test>
</suite>